.header {
	margin-top: 60px;
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__logo {
	}
	&__content {
		display: flex;
		align-items: center;
		gap: 40px;
	}
	&__menu {
		ul{
			display: flex;
			gap: 40px;	
		}
	}
	&__button {
		background-color: $bg-color;
		color: $dark;
		border: 1px solid $dark;
	}
}