@import 'mixin';
@import 'reset';

/* DEFAULTS */

body{
	font-family: "Space Grotesk", Arial, sans-serif;
	font-weight: optional;
	background-color: $bg-color;
	color: $color;
	font-size: 18px;
}

.wrapper{
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: clip;
}

[class*="__container"]{
	max-width: 1310px;
	margin: 0 auto;
	padding: 0px 15px;
}

.main{
	flex: 1 1 auto;
}

/* HEADER */

.header {
	margin-top: 60px;
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__logo {
	}
	&__content {
		display: flex;
		align-items: center;
		gap: 40px;
	}
	&__menu {
		ul{
			display: flex;
			gap: 40px;	
			li::first-letter{
				text-transform: capitalize;
			}
		}
	}
	&__button {
		background-color: $bg-color;
		border: 1px solid $dark;
		&::first-letter{
			text-transform: capitalize;
		}
	}
}
